* {
    border: 0ch;
    padding: 0%;
    background-color: black;
    font-family: cursive;
    font-size: large;
    margin-top: 0px;
}

h1 {
    border: 10px;
    border-style: dashed;
    color: azure;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;

}

p { 
    border: 5px;
    border-radius: 25px;
    border-style: solid;
    color: azure;
    text-align: justify;
    padding: 10px;
}

img {
    width: 33%;
    height: 300px;
}